{% extends 'base.html' %}


{% block title %}
    About Us
{% endblock %}


{% block main %}
<div class="container mt-5 mb-5">
    <h1 class="text-center">Django-MVT(Model-view-template) project.</h1>
    <ul class="bg-body-tertiary p-5">
        <li class="fs-5">
            Name: PostBlog(NixBlog).
        </li>
        <li class="fs-5">
            Database: SQLite.
        </li>
        <li class="fs-5">
            Features:
            <div>
                <ul>
                    <li class="fs-5">authentication system(registration, login, password reset)</li>
                    <li class="fs-5">profile/followers/like/comments functionality</li>
                    <li class="fs-5">caching to a file or redis database</li>
                    <li class="fs-5">json-logging system to the .log file</li>
                    <li class="fs-5">pagination</li>
                    <li class="fs-5">feedback</li>
                    <li class="fs-5">django-messages</li>
                    <li class="fs-5">no tests</li>
                    <li class="fs-5">templatetags</li>
                    <li class="fs-5">bootstrap css/js</li>
                    <li class="fs-5">admin interface with grappelli</li>
                    <li class="fs-5">the variables are in the environment</li>
                    <li class="fs-5">etc..</li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="text-center">
        <button class="btn btn-outline-success bi bi-postcard" style="font-size: 30px;" onclick="window.location.href='{% url 'posts' %}'">To the posts</button>
    </div>
</div>
{% endblock %}