{% extends 'base.html' %}


{% block title %}
    About Us
{% endblock %}


{% block main %}
<div class="container mt-5 mb-5">
    <h1 class="text-center">NixBlog</h1>
    <p class="bg-body-tertiary p-5 fs-5">
        Introducing NixBlog, the social network that ignites connections and fuels inspiration. Join our vibrant community and unleash your creativity as you connect with like-minded individuals from around the world. Share your thoughts, passions, and experiences through captivating blog posts, engage in meaningful discussions, and discover a world of endless possibilities. NixBlog is your platform to connect, express, and thrive in a supportive and inspiring environment. Join us today and let your voice be heard in the realm of NixBlog.
    </p>
    <div class="text-center">
        <button class="btn btn-outline-success bi bi-postcard" style="font-size: 30px;" onclick="window.location.href='{% url 'posts' %}'">To the posts</button>
    </div>
</div>
{% endblock %}