{% extends 'base.html' %}


{% block title %}
    Change Password
{% endblock title %}


{% block main %}
{% for message in messages %}
        <h1 style="color: red;">{{ message }}</h1>
{% endfor %}
    <div class="container card p-5 w-25 mt-5 mb-5 rounded-5">
        <form method="POST">
        {% csrf_token %}
            {{ form.as_p }}
        <button class="bi bi-pencil-square btn btn-success" type="submit">Change the password</button>
    </form>
    <p class="text-center mt-2">Forgot your password? <a style="color: #c4113a" class="text-decoration-none fs-5" href="{% url 'password_reset' %}">Reset</a></p>
        
    </div>
{% endblock %}

{#Your password can’t be too similar to your other personal information.#}
{#Your password must contain at least 8 characters.#}
{#Your password can’t be a commonly used password.#}
{#Your password can’t be entirely numeric.#}