{% extends 'base.html' %}


{% block title %}
    Update comment
{% endblock title %}

{% block main %}
    {% for message in messages %}
        <h1 class="text-danger text-center">{{ message }}</h1>
    {% endfor %}
    <div class="container mt-5 mb-5">
        <form method="POST">
        {% csrf_token %}
        <label class="form-label fw-bold" for="update">Change comment:</label><br>
            <textarea class="form-control" name="comment" id="update" cols="150" rows="10" required>{{ comment.comment }}</textarea><br>
            <button class="bi bi-send-check-fill btn btn-outline-info" type="submit">Update</button>
    </form>
    </div>
{% endblock main %}