{% extends 'base.html' %}


{% block title %}
    Followings Page
{% endblock %}


{% block main %}
    <div class="container mt-3">
    <div class="row">
    {% for follower in followings %}
        <div class="text-center col-md-2">
            <div>
            <img class="rounded-circle" style="max-width: 100px; max-height: 100px" src="{{ follower.who_followed.profile_img.url }}" alt="">
        </div>
        <div>
                {% if follower.who_followed == request.user.profile %}
                    <a style="color: #c4113a" class="text-decoration-none fs-5" href="{% url 'profile' %}">{{ follower.who_followed.nickname }}</a>
                {% else %}
                    <a style="color: #c4113a" class="text-decoration-none fs-5" href="{% url 'user_posts' follower.who_followed.nickname %}">{{ follower.who_followed.nickname }}</a>
                {% endif %}
        </div>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}