{% extends 'base.html' %}


{% block title %}
    Like List
{% endblock title %}


{% block main %}
    <div class="container mt-3">
        <div class="row">
            {% for like in likes %}
            {% if like.is_liked %}
                <div class="col-md-2 text-center">
                    <img class="rounded-circle" style="max-width: 100px; max-height: 100px; min-width: 100px; min-height: 100px;" src="{{ like.who_liked.profile.profile_img.url }}" alt=""><br>
                    {% if request.user == like.who_liked %}
                        <a style="color: #c4113a" class="text-decoration-none fs-5" href="{% url 'profile' %}">
                            {{ like.who_liked.profile.nickname }}
                        </a>
                        {% else %}
                         <a style="color: #c4113a" class="text-decoration-none fs-5" href="{% url 'user_posts' like.who_liked.profile.nickname %}">
                        {{ like.who_liked.profile.nickname }}
                    </a>
                    {% endif %}
                </div>
            {% endif %}
    {% endfor %}
        </div>
    </div>
{% endblock %}