{% extends 'base.html' %}
{% load extra_tags %}


{% block title %}
    Post - {{ post.title }}
{% endblock title %}

{% block main %}

        <h1>{{ post.title }}</h1>
    <img style="display:block; max-block-size: 300px;" src="{{ post.image.url }}" alt="">
        <p>{{ post.body }}</p>
        {% if request.user == post.author %}
                <a href="{% url 'profile' %}">
                    Author: {{ post.author.profile.nickname }}
                </a>
            {% else %}
            <a href="{% url 'user_posts' post.author.profile.nickname %}">
                Author: {{ post.author.profile.nickname }}
            </a>
            {% endif %}
        <p>Published: {{ post.created_date }}</p>
    {% if request.user.username == post.author.username %}
    <span>
        <a href="{% url 'delete_post' post.pk %}">
        Delete post
    </a>
    <a href="{% url 'update_post' post.slug %}">
        Update post
    </a>
    </span>
    {% endif %}
    <p>
           <a href="{% url 'likes_list' post.slug %}">{% count_likes post.slug %} likes</a>
        </p>
        {% if request.user.is_authenticated %}
            {% post_like post.slug as like %}
            {% if like %}
                {% if like.is_liked %}
                    <button style="background-color: red" onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
                {% else %}
                    <button onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
                {% endif %}
            {% else %}
                <button onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
            {% endif %}

            {% else %}
                <button onclick="window.location.href = '{% url 'login'%}'">Like</button>
        {% endif %}
    <hr>
    {% for message in messages %}
        <h1 style="color: red;">{{ message }}</h1>
    {% endfor %}
    {% if request.user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <label for="comment">Your comment:</label><br>
            <textarea name="comment" id="comment" cols="150" rows="10" required></textarea><br>
            <button type="submit">Send</button>
        </form>
        {% else %}
        <h1>Login or sign up to write comments!</h1>
    {% endif %}
    <hr>
    {% all_comments post.pk as comments %}
    {% for comment in comments %}
        <p>
            {% if request.user == comment.who_commented %}
                <a href="{% url 'profile' %}">
                    {{ comment.who_commented.profile.nickname }}
                </a><br>
            {% else %}
                <a href="{% url 'user_posts' comment.who_commented.profile.nickname %}">
                {{ comment.who_commented.profile.nickname }}
            </a><br>
            {% endif %}
            {{ comment.comment }}<br>
            {{ comment.created_time }}<br>
        </p>
        {% if request.user == comment.who_commented %}
            <button name="delete" onclick="window.location.href = '{% url 'delete_comment' comment.pk %}'">Delete</button>
            <button name="update" onclick="window.location.href = '{% url 'update_comment' comment.for_post.slug %}'">Update</button>
        {% endif %}
    {% endfor %}
{% endblock main %}