{% extends 'base.html' %}
{% load extra_tags %}

{% block title %}
    PostBlog
{% endblock %}



{% block main %}
    <div class="container">
        <div class="row">
            {% for post in page_obj %}
                <div class="col-md-4 card border-0 mt-5">
                    <h3>
                        <a style="color: cadetblue;" class="text-decoration-none" href="{% url 'post' post.slug %}">
                            {{ post.title }}
                        </a>
                    </h3>
                    <img src="{{ post.image.url }}" alt="">
                    <p class="fs-5">{{ post.body|truncatewords:50}}</p>
                    {% if request.user == post.author %}
                        <a style="color: #c4113a" class="text-decoration-none fs-5 bi bi-people" href="{% url 'profile' %}">
                            {{ post.author.profile.nickname }}
                        </a>
                    {% else %}
                        <a style="color: #c4113a" class="text-decoration-none fs-5 bi bi-people" href="{% url 'user_posts' post.author.profile.nickname %}">
                            {{ post.author.profile.nickname }}
                        </a>
                    {% endif %}
                    <p class="card-text fs-5 bi bi-calendar4-event"> {{ post.created_date }}</p>
                    <p>
                        <a style="color: #c4113a" class="text-decoration-none bi bi-person-heart" href="{% url 'likes_list' post.slug %}"> {% count_likes post.slug %} likes</a>
                        |
                        <a style="color: #c4113a" class="text-decoration-none bi bi-chat-left" href="{% url 'post' post.slug %}"> {% count_comments post.slug %} comments</a>
                    </p>
                {% if request.user.is_authenticated %}
                    {% post_like post.pk as like %}
                    <form action="{% url 'create_like' post.slug %}" method="post">
                        {% csrf_token %}
                        {% if like %}
                            <button type="submit" class="bi bi-heartbreak btn btn-danger w-25">Unlike</button>
                        {% else %}
                            <button type="submit" class="bi bi-heart-fill btn btn-outline-success w-25">Like</button>
                        {% endif %}
                    </form>
                        {% else %}
                        <button class="bi bi-heart-fill btn btn-outline-success w-25" onclick="window.location.href = '{% url 'login'%}'">Like</button>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>

    <div class="d-flex justify-content-center">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <a class="page-link bi bi-1-circle-fill" href="?page=1">&laquo;</a>
            <li class="page-item">
                <a class="page-link bi bi-caret-left-fill" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="page-link bi bi-caret-right-fill" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="page-link bi bi-exclamation-lg" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
            <a class="page-link disabled" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
    </ul>
    </div>


{% endblock%}
