{% extends 'base.html' %}
{% load extra_tags %}

{% block title %}
    Posts - {{ request.user }}
{% endblock %}


{% block main %}
    {% for post in posts %}
        <h1>
            <a href="{% url 'post' post.pk %}">
                {{ post.title }}
            </a>
        </h1>
        <img style="display: block; max-block-size: 300px;" src="{{ post.image.url }}" alt="">
        <p>{{ post.body }}</p>
        <p>
            {% if request.user == post.author %}
                <a href="{% url 'profile' %}">
                    Author: {{ post.author.profile.nickname }}
                </a>
            {% else %}
            <a href="{% url 'user_posts' post.author.profile.nickname %}">
                Author: {{ post.author.profile.nickname }}
            </a>
            {% endif %}
        </p>
        <p>Published: {{ post.created_date }}</p>
        <p>
            <a href="{% url 'likes_list' post.pk %}">{% count_likes post.pk %} likes</a>
            |
            <a href="{% url 'post' post.pk %}">{% count_comments post.pk %} comments</a>
        </p>
        {% posts_ post.pk as like %}
            {% if like %}
                {% if like.is_liked %}
                    <button style="background-color: red" onclick="window.location.href = '{% url 'create_like' post.pk %}'">Like</button>
                {% else %}
                    <button onclick="window.location.href = '{% url 'create_like' post.pk %}'">Like</button>
                {% endif %}
            {% else %}
                <button onclick="window.location.href = '{% url 'create_like' post.pk %}'">Like</button>
            {% endif %}
    {% endfor %}
{% endblock%}