{% extends 'base.html' %}
{% load extra_tags %}


{% block main %}
    <div style="display: flex;">
        <img style="max-height: 100px; max-width: 100px; border: none; border-radius: 50px; min-width: 100px; min-height: 100px" src="{{ profile.profile_img.url }}" alt="">
        <div>
             <h1>{{ profile.nickname }}</h1>
            <h3>Joined: {{ profile.user.date_joined }}</h3>
        </div>
    </div>
<h1 style="text-align: center">My posts</h1>
    {% for post in posts %}

        <h1>
            <a href="{% url 'post' post.pk %}">
                {{ post.title }}
            </a>
        </h1>
        <img style="display: block; max-block-size: 300px;" src="{{ post.image.url }}" alt="">
        <p>{{ post.body }}</p>
        <p>Author: {{ post.author }}</p>
        <p>Published: {{ post.created_date }}</p>
        <p>
            <a href="{% url 'likes_list' post.pk %}">{% count_likes post.pk %} likes</a>
            |
            <a href="{% url 'post' post.pk %}">{% count_comments post.pk %} comments</a>
        </p>
        {% posts_ post.pk as like %}
            {% if like %}
                {% if like.is_liked %}
                    <button style="background-color: red" onclick="window.location.href = '{% url 'create_like' post.pk %}'">Like</button>
                {% else %}
                    <button onclick="window.location.href = '{% url 'create_like' post.pk %}'">Like</button>
                {% endif %}
            {% else %}
                <button onclick="window.location.href = '{% url 'create_like' post.pk %}'">Like</button>
            {% endif %}
    {% endfor %}
{% endblock %}