{% extends 'base.html' %}
{% load cache %}
{% load extra_tags %}


{% block title %}
    Profile
{% endblock title %}


{% block main %}

    <div style="display: flex;">
        <img style="max-height: 100px; max-width: 100px; border: none; border-radius: 50px; min-width: 100px; min-height: 100px" src="{{ profile.profile_img.url }}" alt="">
        <div>
             <h1>{{ profile.nickname }}</h1>
            <h3>Joined: {{ profile.user.date_joined }}</h3>
        </div>
    </div>
    <span>
        <button onclick="window.location.href = '{% url 'update_profile' %}'">Change profile info</button>
        <button onclick="window.location.href = '{% url 'change_password' %}'">Password reset</button>
        <button onclick="window.location.href = '{% url 'my_followers' %}'">My followers</button>
        <button onclick="window.location.href = '{% url 'my_followings' %}'">My followings</button>
    </span>
    {% if profile.about %}
    <div>
        <h1>About me:</h1>
        <p>{{ profile.about }}</p>
    </div>
    {% endif %}
    {% for message in messages %}
        <h1 style="color: red;">{{ message }}</h1>
    {% endfor %}
<h1 style="text-align: center">My posts</h1>

    {% for post in page_obj %}
        <h1>
            <a href="{% url 'post' post.slug %}">
                {{ post.title }}
            </a>
        </h1>
        {% cache 60 posts %}
        <img style="display: block; max-block-size: 300px;" src="{{ post.image.url }}" alt="">
        <p>{{ post.body }}</p>
        <p>Published: {{ post.created_date }}</p>
        {% endcache %}
        <p>
            <a href="{% url 'likes_list' post.slug %}">{% count_likes post.slug %} likes</a>
            |
            <a href="{% url 'post' post.slug %}">{% count_comments post.slug %} comments</a>
        </p>
        {% post_like post.pk as like %}
            {% if like %}
                {% if like.is_liked %}
                    <button style="background-color: red" onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
                {% else %}
                    <button onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
                {% endif %}
            {% else %}
                <button onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
            {% endif %}
    {% endfor %}

    <hr>

    <div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}