{% extends 'base.html' %}
{% load extra_tags %}


{% block title %}
    Profile
{% endblock title %}


{% block main %}

    <div class="m-3">
        <div class="container-fluid mt-3 d-inline-flex">
            <a href="{{ profile.profile_img.url }}">
                <img style="max-height: 150px; max-width: 150px; border: none; border-radius: 200px; min-width: 150px; min-height: 150px" src="{{ profile.profile_img.url }}" alt="">
            </a>
        <div style="margin-left: 20px;">
             <h1>{{ profile.nickname }}</h1>
            <p class="fs-5">Joined: {{ profile.user.date_joined }}</p>
            <button style="color: #0dcaf0" class="btn" onclick="window.location.href = '{% url 'my_followers' %}'">followers</button>
                <button style="color: #0dcaf0" class="btn" onclick="window.location.href = '{% url 'my_followings'%}'">followings</button>
        </div>
    </div>
    {% if profile.about %}
    <div class="container-fluid">
        <h1>About me:</h1>
        <p>{{ profile.about }}</p>
    </div>
    {% endif %}
    {% for message in messages %}
        <h1 style="color: red;">{{ message }}</h1>
    {% endfor %}
    <div class="container-fluid">
        <h3 class="text-center  mb-5 text-success">My posts</h3>
        <div class="row">
            {% for post in page_obj %}
                <div class="col-md-4 card border-0">
                    <h3>
                    <a style="color: cadetblue;" class="text-decoration-none" href="{% url 'post' post.slug %}">
                        {{ post.title }}
                    </a>
                </h3>
        <img src="{{ post.image.url }}" alt="">
        <p class="fs-5">{{ post.body|truncatewords:50 }}</p>
        <p class="card-text fs-5 bi bi-calendar4-event"> {{ post.created_date }}</p>
        <p>
            <a style="color: #c4113a" class="text-decoration-none bi bi-person-heart" href="{% url 'likes_list' post.slug %}"> {% count_likes post.slug %} likes</a>
            |
            <a style="color: #c4113a" class="text-decoration-none bi bi-chat-left" href="{% url 'post' post.slug %}"> {% count_comments post.slug %} comments</a>
        </p>
        {% post_like post.pk as like %}
            {% if like %}
                {% if like.is_liked %}
                    <button class="bi bi-heartbreak btn btn-danger w-25" onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
                {% else %}
                    <button class="bi bi-heart-fill btn btn-outline-success w-25" onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
                {% endif %}
            {% else %}
                <button class="bi bi-heart-fill btn btn-outline-success w-25" onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
            {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="d-flex justify-content-center">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <a class="page-link bi bi-1-circle-fill" href="?page=1">&laquo;</a>
            <li class="page-item">
                <a class="page-link bi bi-caret-left-fill" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="page-link bi bi-caret-right-fill" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="page-link bi bi-exclamation-lg" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
            <a class="page-link disabled" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
    </ul>
    </div>
    </div>

{% endblock %}