{% extends 'base.html' %}


{% block title %}
    Create a new post!
{% endblock title %}

{% block main %}
    <a href="{% url 'post' pk %}">Back to the post</a>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Title: </label><br>
        <input type="text" id="title" name="title" value="{{ title_value }}"><br>
        <input type="submit" value="Update" name="for_title"><br>
        <label for="body">Text: </label><br>
        <textarea name="body" id="body" cols="30" rows="10">{{ body_value }}</textarea><br>
        <input type="submit" value="Update" name="for_body"><br>
        <label for="img">Upload post image</label>
        <input type="file" id="img" name="image" value="{{ img_value.url }}"><br>
        <a href="{{ img_value.url }}">Current image: {{ img_value }}</a><br>
        <input type="submit" value="Update" name="for_image">
    </form>
{% endblock main %}