{% extends 'base.html' %}
{% load extra_tags %}

{% block title %}
    Posts {{ author.nickname }}
{% endblock title %}

{% block main %}
    <div style="display: flex;">
        <img style="max-height: 100px; max-width: 100px; border: none; border-radius: 50px; min-width: 100px; min-height: 100px" src="{{ author.profile_img.url }}" alt="">
        <div>
             <h1>{{ author.nickname }}</h1>
            <h3>Joined: {{ author.user.date_joined }}</h3>
        </div>
    </div>
    <div>
        <span>
            <button onclick="window.location.href = '{% url 'user_followers' author.nickname %}'">followers</button>
            <button onclick="window.location.href = '{% url 'user_followings' author.nickname %}'">followings</button>
            {% if followed %}
                    <button onclick="window.location.href = '{% url 'to_follow_user' author.pk %}'">Unfollow</button>
            {% else %}
                <button onclick="window.location.href = '{% url 'to_follow_user' author.pk %}'">Follow</button>
            {% endif %}
        </span>
    </div>
            <h1 style="text-align: center;">{{ author.nickname }}'s posts</h1>
    {% for post in page_obj %}
        <h1>
            <a href="{% url 'post' post.slug %}">
                {{ post.title }}
            </a>
        </h1>
        <img style="display: block; max-block-size: 300px;" src="{{ post.image.url }}" alt="">
        <p>{{ post.body|truncatechars:50 }}</p>
        <p>Published: {{ post.created_date }}</p>
        <p>
            <a href="{% url 'likes_list' post.slug %}">{% count_likes post.slug %} likes</a>
            |
            <a href="{% url 'post' post.slug %}">{% count_comments post.slug %} comments</a>
        </p>
        {% if request.user.is_authenticated %}
            {% post_like post.pk as like %}
            {% if like %}
                {% if like.is_liked %}
                    <button style="background-color: red" onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
                {% else %}
                    <button onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
                {% endif %}
            {% else %}
                <button onclick="window.location.href = '{% url 'create_like' post.slug %}'">Like</button>
            {% endif %}

            {% else %}
                <button onclick="window.location.href = '{% url 'login'%}'">Like</button>
        {% endif %}
    {% endfor %}

    <hr>

    <div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock main %}